---
interface Props {
  type:
    | "primary"
    | "secondary"
    | "success"
    | "danger"
    | "warning"
    | "info"
    | "light"
    | "dark";
}

const { type } = Astro.props;
---

<div class={`alert alert-${type}`}>
  <slot name="heading" />
  <hr />
  <slot />
</div>
