---
import SubLayout from "@layouts/SubLayout.astro";
---

<SubLayout title="ネスト">
  <Fragment slot="meta">
    <meta name="keywords" content="Astro, ネスト" />
    <meta name="description" content="レイアウトのネストに関する説明です。" />
  </Fragment>
  <p>このページは、サブレイアウトを利用しています。</p>
</SubLayout>
