---
import Layout from "@layouts/Layout.astro";
import Alert from "@components/Alert.astro";
---

<Layout title="Slotの基本">
  <Alert type="success">
    <h4 slot="heading">成功メッセージ</h4>
    <p>Slotの実行に成功しました。</p>
  </Alert>
</Layout>
