---
import Layout from "./Layout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div id="main">
    <img src="https://wings.msn.to/image/wings.jpg" alt="WINGSプロジェクト" />
    <hr />
    <slot />
    <hr />
    <footer>
      <p>Copryright 2024 WINGSプロジェクト</p>
    </footer>
  </div>
</Layout>
